@import url(./components/avatar.css);
@import url(./components/books.css);
@import url(./components/button.css);
@import url(./components/container.css);
@import url(./components/courses.css);
@import url(./components/footer.css);
@import url(./components/header.css);
@import url(./components/hero.css);

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  background-color: #edede9;
}
