.footer {
  width: 100%;
  background-color: #252422;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.footer a {
  font-size: 30px;
  display: inline-block;
  padding: 16px 8px;
  color: #fad643;
}

.grow {
  transition: all .2s ease-in-out;
  }

  .grow:hover {
  transform: scale(1.2);
  }

  @media (max-width: 960px) {
    .footer a {
      padding: 12px 6px;
    }
  }

  @media (max-width: 720px) {
    .footer a {
      padding: 8px 4px;
    }
  }
